<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>230351859988-g3pmlusefl1olpe0ruelcngnpojs36i5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.230351859988-g3pmlusefl1olpe0ruelcngnpojs36i5</string>
	<key>API_KEY</key>
	<string>AIzaSyDEKXTRCqQDrVYTx6FA8jrVoumUZx-_L_8</string>
	<key>GCM_SENDER_ID</key>
	<string>230351859988</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.exploreClone</string>
	<key>PROJECT_ID</key>
	<string>test-project2-da338</string>
	<key>STORAGE_BUCKET</key>
	<string>test-project2-da338.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:230351859988:ios:b61064d18b91052bb15201</string>
</dict>
</plist>